.body{
    background-color: var(--color-primary-1);
}
.menu{
    height: 20%;
    width: 100%;
    padding: 28px 8%;
    top: 0; 
}
.nav-bar{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav-lista{
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-between;
}
.nav-sessao{
    width: 50%;
    gap: 20px;
    justify-items: center;
    align-items: center;
    color: var(--color-primary-5);
    font-family: InterVariable, sans-serif;
    font-weight: 700;
    background-color: aquamarine;
}
.nav-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: aqua;
    
}
.nav-titulo p{
    color: var(--color-primary-5);
    font-family: InterVariable, sans-serif;
    font-weight: 1000;
}