@import url(curriculo.css);
@import url(habilidades.css);
@import url(menu.css);
@import url(projetos.css);
@import url(sobre-mim.css);
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

:root{
    --color-primary-1: #845ec2;
    --color-primary-2: #2c73d2;
    --color-primary-3: #0081cf;
    --color-primary-4: #0089ba;
    --color-primary-5: #008e9b;
    --color-neutra-0:#fff;
    --color-neutra-1:#1d1d1d;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
a{
    text-decoration: none;
}

